.message-box {
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 2em;
  width: auto;
}
.direct {
  background-color: white;
}
.ten-column {
  margin-left: -28px;
}
.list-ui {
  background-color: white;
  height: 48px;
  border-left: none;
}
.direct-icon {
  font-size: medium;
  text-align: center;
}
.user-image {
  border-radius: 60px;
  margin-left: 4px;
}
.user-name {
  display: inline;
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
}
i.info {
  font-size: large;
  margin-top: 10px;
  margin-right: 10px;
}
.current-user {
  display: inline;
  margin-top: 10px;
  margin-left: 12px;
  font-size: unset;
  font-family: 'Lato', sans-serif;
}
.block {
  display: flex;
  margin-top: 5px;
  margin-left: 12px;
}
.ui-menu {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.details {
  font-weight: 700;
  padding-bottom: 14.8571px;
  padding-left: 18.2857px;
  padding-right: 18.2857px;
  padding-top: 14.8571px;
  font-size: medium;
}
.show-details {
  background-color: white;
}
.details-box {
  display: grid;
  margin-top: 50px;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.details-image {
  border-radius: 60px;
  margin-left: 4px;
  margin: 10px 0;
}
.user-box > .item {
  border: none !important;
}
