.message-box {
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 2em;
  width: auto;
}
.direct {
  background-color: grey;
}
.list-ui {
  background-color: white;
}
.direct-icon {
  font-size: large;
}
.user-image {
  border-radius: 60px;
  margin-left: 4px;
}
.user-name {
  display: inline;
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
}
.avatar {
  width: auto;
  height: -webkit-fill-available;
  border-radius: 25px;
  border-style: none;
}
i.info {
  font-size: large;
  margin-top: 10px;
  margin-right: 10px;
}
.current-user {
  display: inline;
  margin-top: 10px;
  margin-left: 12px;
}
