.message-box {
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  width: auto;
}
.two-column {
  height: 100%;
}
.direct {
  background-color: white;
  height: 100%;
}
.ten-column {
  margin-left: -28px;
  height: 100%;
}
.direct-message {
  height: 100%;
}
.list-ui {
  background-color: white;
  height: 100%;
  border-left: none;
  overflow-y: scroll;
}
.direct-icon {
  font-size: medium;
  text-align: center;
  height: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.user-image-container {
  margin: 4px 13px 4px 5px;
}
.person {
  display: flex;
  align-items: center;
}
.user-image {
  border-radius: 32px;
}

.six-column {
  height: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
}
i.info {
  font-size: large;
  margin-top: 10px;
  margin-right: 10px;
}
.current-user {
  display: inline;
  margin-top: 10px;
  margin-left: 12px;
  font-size: unset;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  font-size: medium !important;
}
.block {
  display: flex;
  margin-top: 5px;
  margin-left: 12px;
  height: 100%;
}
.ui-menu {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  height: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  justify-content: space-between;
  border-radius: 0 !important;
}
.details {
  font-weight: 700;
  padding-bottom: 14.8571px;
  padding-left: 18.2857px;
  padding-right: 18.2857px;
  padding-top: 14.8571px;
  font-size: medium;
}
.show-details {
  background-color: white;
}
.details-box {
  display: grid;
  margin-top: 50px;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.details-image {
  border-radius: 60px;
  margin-left: 4px;
  margin: 10px 0;
}
.user-box > .item {
  border: none !important;
}
.report {
  display: block;
  font-size: 14px;
  margin-left: 20px;
  border: hidden;
}
.x-icon {
  font-size: medium !important;
  text-align: center;
  height: 60px;
  flex: 1;
  display: flex;
  align-items: flex-end;
  float: right;
  justify-content: space-between;
}
.report-options {
  display: grid;
}
.item-css {
  background-color: none;
  padding-bottom: 20px;
  margin-left: -15px;
  line-height: 2em;
}
.right-icon {
  float: right;
}
.modal {
  margin-top: 200px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 200px;
  background-color: white;
}
.report-header {
  padding-top: 20px !important;
}
.block-page {
  margin-left: 20px;
}
.block-header {
  padding-top: 20px !important;
}
.block-list {
  padding-bottom: 20px !important;
}
.delete-chat-page {
  margin-left: 20px;
}
.delete-chat-header {
  padding-top: 20px !important;
}
.sub-header {
  font-weight: normal;
}
.message-container {
  text-align: center;
  position: absolute;
  height: 100%;
}
.new-message {
  display: block;
  font-size: 14px;
  margin-left: 20px;
  border: hidden;
  height: 100%;
}
.message-users {
  display: inline-flex;
}
.new-message-header {
  margin-bottom: 20px !important;
  height: 100%;
}
.users {
  margin-left: 10px;
}
.message-x-icon {
  float: left;
  margin-right: 20px;
}
.message-screen {
  height: 100%;
}
.message-input {
  margin-top: auto;
  align-self: flex-end;
  width: 100%;
  max-width: inherit !important;
}
.input-text {
  width: 100%;
  max-width: inherit !important;
}
.chat {
}
.chat > div {
  margin: 5px 8px;
  padding: 8px 15px;
  background-color: palevioletred;
  border-radius: 15px;
  color: white;
}
