.ui-header {
  display: block;
  background-color: khaki;
  margin-bottom: 0;
}
.logo {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}
.icon-header {
  position: relative;
  padding: 15px;
  display: inline-table;
  float: right;
}
.header-items {
  display: flex;
  flex-direction: row;
}

.google-login {
  margin: 10px;
  display: block;
  flex-direction: row;
}
.profile-picture {
  height: 30px;
  margin-top: 15px;
  margin-left: auto;
  display: block;
  border-radius: 16px;
  margin-right: 10px;
}
