.post-image {
  width: 100%;
}
.title {
  text-transform: capitalize;
  margin-left: 12px;
  margin-block-end: auto;
  height: 20px;
}
.heading {
  display: flex;
  align-items: center;
  padding: 4px 0;
  padding: 10px;
}
.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 4px;
}
.location {
  color: white;
  height: 18px;
  font-size: small;
}
.cb {
  height: 30px;
}
.like {
  height: 30px;
}
.count {
  font-family: fantasy;
  margin-left: 10px;
  margin-top: 10px;
}
.description-css {
  font-family: fantasy;
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  font-size: small;
  margin-bottom: 20px;
}
.right-floated {
  font-size: smaller;
}
.right-floated:hover {
  background-color: grey;
}
.paper-plane-icon {
  float: right;
  position: absolute;
  right: 200px;
  font-size: x-large;
}
