.search-images {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: aqua;
  flex-grow: 2;
  font-size: 10px;
}

.search-images > div {
  display: flex;
  width: 440px;
}
